In [ ]:
for i in range(1,7):
    for j in range(1,7):
        print('$',end=' ')
    print()

$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $

In [6]:
for i in range(1,7):
    for j in range(1,7):
        if i==1 or i==6 or j==1 or j==6:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $
$         $
$         $
$         $
$         $
$ $ $ $ $ $

In [7]:
for i in range(1,7):
    for j in range(1,7):
        if i==1 or i == j or i==6 or j==1 or j==6:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $
$ $       $
$   $     $
$     $   $
$       $ $
$ $ $ $ $ $

In [31]:
for i in range(1, 11):      
    for j in range(1, 11):         
        if i == 1 or i == 10 or j == 1 or j == 10 or 11 - i == j:
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$               $ $
$             $   $
$           $     $
$         $       $
$       $         $
$     $           $
$   $             $
$ $               $
$ $ $ $ $ $ $ $ $ $

In [ ]:
for i in range(1, 11):            
    for j in range(1, 11):       
        if i == 1 or i == 10 or j == 1 or j == 10 or 11 - i == j or i == j:
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$ $             $ $
$   $         $   $
$     $     $     $
$       $ $       $
$       $ $       $
$     $     $     $
$   $         $   $
$ $             $ $
$ $ $ $ $ $ $ $ $ $

In [17]:
for i in range(1, 12):             # Rows from 1 to 6
    for j in range(1, 12):         # Columns from 1 to 6
        if 12 - i == j or i == j:
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$                   $
  $               $
    $           $
      $       $
        $   $
          $
        $   $
      $       $
    $           $
  $               $
$                   $

In [24]:
for i in range(1,11):
    for j in range(1,11):
        if i <= 5 or i == 1 or i == 10 or j == 1 or j == 10 :
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$                 $
$                 $
$                 $
$                 $
$ $ $ $ $ $ $ $ $ $

In [26]:
for i in range(1,11):
    for j in range(1,11):
        if i > 5 or i == 1 or i == 10 or j == 1 or j == 10 :
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$                 $
$                 $
$                 $
$                 $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [32]:
for i in range(1,11):
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or j == 10 or j <=5:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $ $ $ $ $ $

In [33]:
for i in range(1,11):
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or j == 10 or j > 5:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [34]:
for i in range(1,11):
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or j == 10 or i <= j:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $
$   $ $ $ $ $ $ $ $
$     $ $ $ $ $ $ $
$       $ $ $ $ $ $
$         $ $ $ $ $
$           $ $ $ $
$             $ $ $
$               $ $
$ $ $ $ $ $ $ $ $ $

In [35]:
for i in range(1,11):
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or j == 10 or i > j:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$                 $
$ $               $
$ $ $             $
$ $ $ $           $
$ $ $ $ $         $
$ $ $ $ $ $       $
$ $ $ $ $ $ $     $
$ $ $ $ $ $ $ $   $
$ $ $ $ $ $ $ $ $ $

In [36]:
for i in range(1,11):
    for j in range(1,11):
        if i > j:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $

In [37]:
for i in range(1,11):
    for j in range(1,11):
        if i <= j:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $
    $ $ $ $ $ $ $ $
      $ $ $ $ $ $ $
        $ $ $ $ $ $
          $ $ $ $ $
            $ $ $ $
              $ $ $
                $ $
                  $

In [51]:
for i in range(1,11):
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or (j <= 5 and i <= 5) or j == 10:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$                 $
$                 $
$                 $
$                 $
$ $ $ $ $ $ $ $ $ $

In [ ]:
for i in range(1,11): # i = row j = column
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or (j > 5 and i > 5) or j == 10:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$                 $
$                 $
$                 $
$                 $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [53]:
for i in range(1,11): # i = row j = column
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or (j > 5 and i <= 5) or j == 10:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$         $ $ $ $ $
$                 $
$                 $
$                 $
$                 $
$ $ $ $ $ $ $ $ $ $

In [54]:
for i in range(1,11): # i = row j = column
    for j in range(1,11):
        if  i == 1 or i == 10 or j == 1 or (j <= 5 and i >= 5) or j == 10:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

$ $ $ $ $ $ $ $ $ $
$                 $
$                 $
$                 $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $         $
$ $ $ $ $ $ $ $ $ $

In [2]:
for i in range(1,12):
    for j in range(1,12):
        if  i == 1 or i == 11 or j == 1 or j == 11 or(i >= j and 12-i >= j):
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $ $ $ $ $ $ $
$ $                 $
$ $ $               $
$ $ $ $             $
$ $ $ $ $           $
$ $ $ $ $ $         $
$ $ $ $ $           $
$ $ $ $             $
$ $ $               $
$ $                 $
$ $ $ $ $ $ $ $ $ $ $

In [ ]:
for i in range(1,12):
    for j in range(1,12):
        if  i == 1 or i == 11 or j == 1 or j == 11 or(i >= j and 12-i >= j):
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [60]:
for i in range(1,12):
    for j in range(1,12):
        if  i == 1 or i == 11 or j == 1 or j == 11 or(i <= j and 12-i <= j):
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $ $ $ $ $ $ $
$                 $ $
$               $ $ $
$             $ $ $ $
$           $ $ $ $ $
$         $ $ $ $ $ $
$           $ $ $ $ $
$             $ $ $ $
$               $ $ $
$                 $ $
$ $ $ $ $ $ $ $ $ $ $

In [67]:
for i in range(1,12):
    for j in range(1,12):
        if  i == 1 or i == 11 or j == 1 or j == 11 or(i >= j and 12-i <= j):
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $ $ $ $ $ $ $
$                   $
$                   $
$                   $
$                   $
$         $         $
$       $ $ $       $
$     $ $ $ $ $     $
$   $ $ $ $ $ $ $   $
$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $

In [78]:
for i in range(1,12):
    for j in range(1,12):
        if(i >= j and 12-i <= j):
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

          $
        $ $ $
      $ $ $ $ $
    $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $

In [65]:
for i in range(1,12):
    for j in range(1,12):
        if  i == 1 or i == 11 or j == 1 or j == 11 or(i <= j and 12-i >= j):
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $
$   $ $ $ $ $ $ $   $
$     $ $ $ $ $     $
$       $ $ $       $
$         $         $
$                   $
$                   $
$                   $
$                   $
$ $ $ $ $ $ $ $ $ $ $

In [79]:
for i in range(1,12):
    for j in range(1,12):
        if(i <= j and 12-i >= j):
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $
    $ $ $ $ $ $ $
      $ $ $ $ $
        $ $ $
          $

In [72]:
for i in range(1,6):
    for j in range(1,6):
        if j == 1 or j <= i:
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [75]:
for i in range(1,6):
    for j in range(1,6):
        if j == 5 or j >= i:
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

$ $ $ $ $
  $ $ $ $
    $ $ $
      $ $
        $

In [ ]:
for i in range(1,6):
    for j in range(1,6):
        if j == 5 or j >= i:
            print('$', end=' ')
        else:
            print(' ', end=' ')
    print()

In [76]:
for i in range(1,6):
    for j in range(1,i+1):
        print('$', end=' ')
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

In [77]:
for i in range(6,0,-1):
    for j in range(1,i+1):
        print('$', end=' ')
    print()

$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [83]:
for i in range(1,7):
    for k in range(1,7-i):
        print(" ",end=" ")
    for j in range(1,2*i):
        print("*",end=' ')
    print()
for i in range(5,0,-1):
    for k in range(1,7-i):
        print(" ",end=" ")
    for j in range(1,2*i):
        print("*",end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n):
    for j in range(n):
        print(i+1,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n):
    for j in range(n):
        print(j+1,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [94]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n-1,-1,-1):
    for j in range(n):
        print(i+1,end=' ')
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [97]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n):
    for j in range(n-1,-1,-1):
        print(j+1,end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [100]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(65),end=' ')
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [101]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(97),end=' ')
    print()

a a a a a
a a a a a
a a a a a
a a a a a
a a a a a

In [103]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(65+i),end=' ')
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [105]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(97+i),end=' ')
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [107]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n-1,-1,-1):
    for j in range(n):
        print(chr(97+i),end=' ')
    print()

e e e e e
d d d d d
c c c c c
b b b b b
a a a a a

In [110]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n-1,-1,-1):
    for j in range(n):
        print(chr(97+j),end=' ')
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [111]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n-1,-1,-1):
    for j in range(n):
        print(chr(65+j),end=' ')
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [113]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(97+j),end=' ')
    print()

e d c b a
e d c b a
e d c b a
e d c b a
e d c b a

In [114]:
n = int(input("Enter the number of rows: "))
# n = 8

for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(65+j),end=' ')
    print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [3]:
n = int(input("Enter the number of rows: "))
k = 0
for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(65+k),end=' ')
        k = k+1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [4]:
n = int(input("Enter the number of rows: "))
k = 0
for i in range(n):
    for j in range(n-1,-1,-1):
        print(chr(97+k),end=' ')
        k = k+1
    print()

a b c d e
f g h i j
k l m n o
p q r s t
u v w x y

In [2]:
for i in range(1,5+1):
    for j in range(1,i+1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,5+1):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i, end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [11]:
for i in range(1,5+1):
    for k in range(1,5+1-i):
        print(" ", end=' ')
    for j in range(1,i+1):
        print(j, end=' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [40]:
for i in range(1, 8):      
    for j in range(1, 6):         
        if i==1 and j in(2,3,4):
            print('*', end=' ')
        elif i in (2,3,5,6) and j in(1,5):
            print('*', end=' ')
        elif i == 4:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *

In [3]:
for i in range(1, 8):      
    for j in range(1, 6):         
        if i in (1,4,7) and j in (1,2,3,4):
            print('*', end=' ')
        elif i in (2,3,5,6) and j in(1,5):
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
* * * *

In [4]:
for i in range(1,8):
    for j in range(1,6):
        if i in (1,7) and j in (2,3,4):
            print('*',end=' ')
        elif i in (2,6) and j in (1,5):
            print('*',end=' ')
        elif i in (3,4,5) and j==1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*
*
*
*       *
  * * *